@font-face {
    font-family: "dimas-icon";
    src: url('fonts/dimas-icon.eot');
    src: url('fonts/dimas-icon.eot?#iefix') format('eot'),
    url('fonts/dimas-icon.woff2') format('woff2'),
    url('fonts/dimas-icon.woff') format('woff'),
    url('fonts/dimas-icon.ttf') format('truetype'),
    url('fonts/dimas-icon.svg#dimas-icon') format('svg');
}

@mixin dimas-icon-font() {
    font-family: "dimas-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.dimas-icon,
[class*="dimas-icon-"]:before{
    @include dimas-icon-font();
}

@function dimas-icon-char($filename) {
    $char: "";

    @if $filename == about-1 {
    $char: "\E001";
}
    @if $filename == about-2 {
    $char: "\E002";
}
    @if $filename == about-3 {
    $char: "\E003";
}
    @if $filename == biography {
    $char: "\E004";
}
    @if $filename == category-body {
    $char: "\E005";
}
    @if $filename == category-cosmetic {
    $char: "\E006";
}
    @if $filename == category-foundation {
    $char: "\E007";
}
    @if $filename == category-health {
    $char: "\E008";
}
    @if $filename == category-masks {
    $char: "\E009";
}
    @if $filename == category-moisturizing {
    $char: "\E00A";
}
    @if $filename == category-other1 {
    $char: "\E00B";
}
    @if $filename == category-sale {
    $char: "\E00C";
}
    @if $filename == category-skin {
    $char: "\E00D";
}
    @if $filename == category-star {
    $char: "\E00E";
}
    @if $filename == circle {
    $char: "\E00F";
}
    @if $filename == earn-reward-points {
    $char: "\E010";
}
    @if $filename == free-deluxe-samples {
    $char: "\E011";
}
    @if $filename == free-standard-delivery {
    $char: "\E012";
}
    @if $filename == get-in-touch {
    $char: "\E013";
}
    @if $filename == location {
    $char: "\E014";
}
    @if $filename == organic {
    $char: "\E015";
}
    @if $filename == support {
    $char: "\E016";
}
    @if $filename == addtocart {
    $char: "\E017";
}
    @if $filename == cart-empty {
    $char: "\E018";
}
    @if $filename == cart {
    $char: "\E019";
}
    @if $filename == check-circle {
    $char: "\E01A";
}
    @if $filename == check {
    $char: "\E01B";
}
    @if $filename == cloud-download {
    $char: "\E01C";
}
    @if $filename == compare {
    $char: "\E01D";
}
    @if $filename == credit-card {
    $char: "\E01E";
}
    @if $filename == download {
    $char: "\E01F";
}
    @if $filename == exclamation-circle {
    $char: "\E020";
}
    @if $filename == eye {
    $char: "\E021";
}
    @if $filename == file-alt {
    $char: "\E022";
}
    @if $filename == filter {
    $char: "\E023";
}
    @if $filename == frown {
    $char: "\E024";
}
    @if $filename == gift {
    $char: "\E025";
}
    @if $filename == heart {
    $char: "\E026";
}
    @if $filename == home-lg {
    $char: "\E027";
}
    @if $filename == home {
    $char: "\E028";
}
    @if $filename == info-circle {
    $char: "\E029";
}
    @if $filename == level-up {
    $char: "\E02A";
}
    @if $filename == meh {
    $char: "\E02B";
}
    @if $filename == no-favorites {
    $char: "\E02C";
}
    @if $filename == pen-square {
    $char: "\E02D";
}
    @if $filename == pencil {
    $char: "\E02E";
}
    @if $filename == quickview {
    $char: "\E02F";
}
    @if $filename == reply {
    $char: "\E030";
}
    @if $filename == search-plus {
    $char: "\E031";
}
    @if $filename == shopping-bag {
    $char: "\E032";
}
    @if $filename == shopping-basket {
    $char: "\E033";
}
    @if $filename == sign-in {
    $char: "\E034";
}
    @if $filename == sign-out {
    $char: "\E035";
}
    @if $filename == smile {
    $char: "\E036";
}
    @if $filename == spinner {
    $char: "\E037";
}
    @if $filename == star {
    $char: "\E038";
}
    @if $filename == sync {
    $char: "\E039";
}
    @if $filename == tachometer-alt-fastest {
    $char: "\E03A";
}
    @if $filename == times-circle {
    $char: "\E03B";
}
    @if $filename == truck {
    $char: "\E03C";
}
    @if $filename == wishlist-fill {
    $char: "\E03D";
}
    @if $filename == wishlist {
    $char: "\E03E";
}
    @if $filename == angle-double-down {
    $char: "\E03F";
}
    @if $filename == angle-double-left {
    $char: "\E040";
}
    @if $filename == angle-double-right {
    $char: "\E041";
}
    @if $filename == angle-double-up {
    $char: "\E042";
}
    @if $filename == angle-down {
    $char: "\E043";
}
    @if $filename == angle-left {
    $char: "\E044";
}
    @if $filename == angle-right {
    $char: "\E045";
}
    @if $filename == angle-up {
    $char: "\E046";
}
    @if $filename == arrow-circle-left {
    $char: "\E047";
}
    @if $filename == arrow-circle-right {
    $char: "\E048";
}
    @if $filename == arrow-down {
    $char: "\E049";
}
    @if $filename == arrow-left {
    $char: "\E04A";
}
    @if $filename == arrow-right {
    $char: "\E04B";
}
    @if $filename == arrow-up {
    $char: "\E04C";
}
    @if $filename == blockquote {
    $char: "\E04D";
}
    @if $filename == blockquote2 {
    $char: "\E04E";
}
    @if $filename == bookmark {
    $char: "\E04F";
}
    @if $filename == calendar-alt {
    $char: "\E050";
}
    @if $filename == calendar {
    $char: "\E051";
}
    @if $filename == chevron-down {
    $char: "\E052";
}
    @if $filename == chevron-left {
    $char: "\E053";
}
    @if $filename == chevron-right {
    $char: "\E054";
}
    @if $filename == chevron-up {
    $char: "\E055";
}
    @if $filename == down {
    $char: "\E056";
}
    @if $filename == instagram {
    $char: "\E057";
}
    @if $filename == left {
    $char: "\E058";
}
    @if $filename == long-arrow-alt-down {
    $char: "\E059";
}
    @if $filename == long-arrow-alt-left {
    $char: "\E05A";
}
    @if $filename == long-arrow-alt-right {
    $char: "\E05B";
}
    @if $filename == long-arrow-alt-up {
    $char: "\E05C";
}
    @if $filename == long-arrow-down {
    $char: "\E05D";
}
    @if $filename == long-arrow-left {
    $char: "\E05E";
}
    @if $filename == long-arrow-right {
    $char: "\E05F";
}
    @if $filename == long-arrow-up {
    $char: "\E060";
}
    @if $filename == menu {
    $char: "\E061";
}
    @if $filename == right {
    $char: "\E062";
}
    @if $filename == search {
    $char: "\E063";
}
    @if $filename == share-all {
    $char: "\E064";
}
    @if $filename == th-grid {
    $char: "\E065";
}
    @if $filename == th-list {
    $char: "\E066";
}
    @if $filename == thumbtack {
    $char: "\E067";
}
    @if $filename == times {
    $char: "\E068";
}
    @if $filename == user {
    $char: "\E069";
}
    @if $filename == video {
    $char: "\E06A";
}

@return $char;
}

@mixin dimas-icon($filename, $insert: before) {
&:#{$insert} {
    content: dimas-icon-char($filename);
}
}

.dimas-icon-about-1 {
    @include dimas-icon(about-1);
}
.dimas-icon-about-2 {
    @include dimas-icon(about-2);
}
.dimas-icon-about-3 {
    @include dimas-icon(about-3);
}
.dimas-icon-biography {
    @include dimas-icon(biography);
}
.dimas-icon-category-body {
    @include dimas-icon(category-body);
}
.dimas-icon-category-cosmetic {
    @include dimas-icon(category-cosmetic);
}
.dimas-icon-category-foundation {
    @include dimas-icon(category-foundation);
}
.dimas-icon-category-health {
    @include dimas-icon(category-health);
}
.dimas-icon-category-masks {
    @include dimas-icon(category-masks);
}
.dimas-icon-category-moisturizing {
    @include dimas-icon(category-moisturizing);
}
.dimas-icon-category-other1 {
    @include dimas-icon(category-other1);
}
.dimas-icon-category-sale {
    @include dimas-icon(category-sale);
}
.dimas-icon-category-skin {
    @include dimas-icon(category-skin);
}
.dimas-icon-category-star {
    @include dimas-icon(category-star);
}
.dimas-icon-circle {
    @include dimas-icon(circle);
}
.dimas-icon-earn-reward-points {
    @include dimas-icon(earn-reward-points);
}
.dimas-icon-free-deluxe-samples {
    @include dimas-icon(free-deluxe-samples);
}
.dimas-icon-free-standard-delivery {
    @include dimas-icon(free-standard-delivery);
}
.dimas-icon-get-in-touch {
    @include dimas-icon(get-in-touch);
}
.dimas-icon-location {
    @include dimas-icon(location);
}
.dimas-icon-organic {
    @include dimas-icon(organic);
}
.dimas-icon-support {
    @include dimas-icon(support);
}
.dimas-icon-addtocart {
    @include dimas-icon(addtocart);
}
.dimas-icon-cart-empty {
    @include dimas-icon(cart-empty);
}
.dimas-icon-cart {
    @include dimas-icon(cart);
}
.dimas-icon-check-circle {
    @include dimas-icon(check-circle);
}
.dimas-icon-check {
    @include dimas-icon(check);
}
.dimas-icon-cloud-download {
    @include dimas-icon(cloud-download);
}
.dimas-icon-compare {
    @include dimas-icon(compare);
}
.dimas-icon-credit-card {
    @include dimas-icon(credit-card);
}
.dimas-icon-download {
    @include dimas-icon(download);
}
.dimas-icon-exclamation-circle {
    @include dimas-icon(exclamation-circle);
}
.dimas-icon-eye {
    @include dimas-icon(eye);
}
.dimas-icon-file-alt {
    @include dimas-icon(file-alt);
}
.dimas-icon-filter {
    @include dimas-icon(filter);
}
.dimas-icon-frown {
    @include dimas-icon(frown);
}
.dimas-icon-gift {
    @include dimas-icon(gift);
}
.dimas-icon-heart {
    @include dimas-icon(heart);
}
.dimas-icon-home-lg {
    @include dimas-icon(home-lg);
}
.dimas-icon-home {
    @include dimas-icon(home);
}
.dimas-icon-info-circle {
    @include dimas-icon(info-circle);
}
.dimas-icon-level-up {
    @include dimas-icon(level-up);
}
.dimas-icon-meh {
    @include dimas-icon(meh);
}
.dimas-icon-no-favorites {
    @include dimas-icon(no-favorites);
}
.dimas-icon-pen-square {
    @include dimas-icon(pen-square);
}
.dimas-icon-pencil {
    @include dimas-icon(pencil);
}
.dimas-icon-quickview {
    @include dimas-icon(quickview);
}
.dimas-icon-reply {
    @include dimas-icon(reply);
}
.dimas-icon-search-plus {
    @include dimas-icon(search-plus);
}
.dimas-icon-shopping-bag {
    @include dimas-icon(shopping-bag);
}
.dimas-icon-shopping-basket {
    @include dimas-icon(shopping-basket);
}
.dimas-icon-sign-in {
    @include dimas-icon(sign-in);
}
.dimas-icon-sign-out {
    @include dimas-icon(sign-out);
}
.dimas-icon-smile {
    @include dimas-icon(smile);
}
.dimas-icon-spinner {
    @include dimas-icon(spinner);
}
.dimas-icon-star {
    @include dimas-icon(star);
}
.dimas-icon-sync {
    @include dimas-icon(sync);
}
.dimas-icon-tachometer-alt-fastest {
    @include dimas-icon(tachometer-alt-fastest);
}
.dimas-icon-times-circle {
    @include dimas-icon(times-circle);
}
.dimas-icon-truck {
    @include dimas-icon(truck);
}
.dimas-icon-wishlist-fill {
    @include dimas-icon(wishlist-fill);
}
.dimas-icon-wishlist {
    @include dimas-icon(wishlist);
}
.dimas-icon-angle-double-down {
    @include dimas-icon(angle-double-down);
}
.dimas-icon-angle-double-left {
    @include dimas-icon(angle-double-left);
}
.dimas-icon-angle-double-right {
    @include dimas-icon(angle-double-right);
}
.dimas-icon-angle-double-up {
    @include dimas-icon(angle-double-up);
}
.dimas-icon-angle-down {
    @include dimas-icon(angle-down);
}
.dimas-icon-angle-left {
    @include dimas-icon(angle-left);
}
.dimas-icon-angle-right {
    @include dimas-icon(angle-right);
}
.dimas-icon-angle-up {
    @include dimas-icon(angle-up);
}
.dimas-icon-arrow-circle-left {
    @include dimas-icon(arrow-circle-left);
}
.dimas-icon-arrow-circle-right {
    @include dimas-icon(arrow-circle-right);
}
.dimas-icon-arrow-down {
    @include dimas-icon(arrow-down);
}
.dimas-icon-arrow-left {
    @include dimas-icon(arrow-left);
}
.dimas-icon-arrow-right {
    @include dimas-icon(arrow-right);
}
.dimas-icon-arrow-up {
    @include dimas-icon(arrow-up);
}
.dimas-icon-blockquote {
    @include dimas-icon(blockquote);
}
.dimas-icon-blockquote2 {
    @include dimas-icon(blockquote2);
}
.dimas-icon-bookmark {
    @include dimas-icon(bookmark);
}
.dimas-icon-calendar-alt {
    @include dimas-icon(calendar-alt);
}
.dimas-icon-calendar {
    @include dimas-icon(calendar);
}
.dimas-icon-chevron-down {
    @include dimas-icon(chevron-down);
}
.dimas-icon-chevron-left {
    @include dimas-icon(chevron-left);
}
.dimas-icon-chevron-right {
    @include dimas-icon(chevron-right);
}
.dimas-icon-chevron-up {
    @include dimas-icon(chevron-up);
}
.dimas-icon-down {
    @include dimas-icon(down);
}
.dimas-icon-instagram {
    @include dimas-icon(instagram);
}
.dimas-icon-left {
    @include dimas-icon(left);
}
.dimas-icon-long-arrow-alt-down {
    @include dimas-icon(long-arrow-alt-down);
}
.dimas-icon-long-arrow-alt-left {
    @include dimas-icon(long-arrow-alt-left);
}
.dimas-icon-long-arrow-alt-right {
    @include dimas-icon(long-arrow-alt-right);
}
.dimas-icon-long-arrow-alt-up {
    @include dimas-icon(long-arrow-alt-up);
}
.dimas-icon-long-arrow-down {
    @include dimas-icon(long-arrow-down);
}
.dimas-icon-long-arrow-left {
    @include dimas-icon(long-arrow-left);
}
.dimas-icon-long-arrow-right {
    @include dimas-icon(long-arrow-right);
}
.dimas-icon-long-arrow-up {
    @include dimas-icon(long-arrow-up);
}
.dimas-icon-menu {
    @include dimas-icon(menu);
}
.dimas-icon-right {
    @include dimas-icon(right);
}
.dimas-icon-search {
    @include dimas-icon(search);
}
.dimas-icon-share-all {
    @include dimas-icon(share-all);
}
.dimas-icon-th-grid {
    @include dimas-icon(th-grid);
}
.dimas-icon-th-list {
    @include dimas-icon(th-list);
}
.dimas-icon-thumbtack {
    @include dimas-icon(thumbtack);
}
.dimas-icon-times {
    @include dimas-icon(times);
}
.dimas-icon-user {
    @include dimas-icon(user);
}
.dimas-icon-video {
    @include dimas-icon(video);
}