@charset "UTF-8";
/*!
 * Blog Single css Dimas
 * Copyright GCO Software
 */
.dimas-menu,
.dimas-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dimas-sticky-share {
  width: 1.625rem;
  z-index: 999;
  position: fixed;
  top: 30%;
}
.dimas-sticky-share__item:not(:last-child) {
  margin-bottom: 2rem;
}
.dimas-sticky-share__item.coppy-link svg {
  color: #4D5F6B;
}
.dimas-sticky-share__item.coppy-link:hover svg {
  color: var(--dimas-color-white);
}
.dimas-sticky-share__item.fb-share svg {
  color: var(--dimas-color-main);
}
.dimas-sticky-share__item.fb-share:hover svg {
  color: var(--dimas-color-white);
}
.dimas-sticky-share__item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dimas-post__comment {
  padding-bottom: 10.9375rem;
}
.dimas-post__vertical-align > .dimas-post__thumbnail {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.dimas-post-content__wrap > p,
.dimas-post-content__wrap h1,
.dimas-post-content__wrap h2,
.dimas-post-content__wrap h3,
.dimas-post-content__wrap h4,
.dimas-post-content__wrap h5,
.dimas-post-content__wrap h6,
.dimas-post-content__wrap blockquote {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66666667%;
  margin-left: auto;
  margin-right: auto;
}
.dimas-post-content__wrap p {
  margin-bottom: 2rem;
}
.dimas-post-content__wrap h1,
.dimas-post-content__wrap h2,
.dimas-post-content__wrap h3,
.dimas-post-content__wrap h4,
.dimas-post-content__wrap h5,
.dimas-post-content__wrap h6 {
  color: var(--dimas-color-white);
  margin-bottom: 1.5em;
}

.dimas-post-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.dimas-post-gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.dimas-post-gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.dimas-post-gallery > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.dimas-post-gallery > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.dimas-post-gallery__link {
  cursor: pointer;
}
.dimas-post-gallery__link:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  padding-right: 1rem;
}
.dimas-post-gallery__link:nth-child(2) {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.dimas-post-gallery__link:nth-child(3) {
  padding-left: 1rem;
  padding-top: 1rem;
}
.dimas-post-gallery__item {
  width: 100%;
  height: 100%;
}

.post-tag {
  -webkit-transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  margin-bottom: 0;
  margin-right: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--dimas-color-bg-tag);
  color: var(--dimas-color-white);
}
.post-tag:hover {
  background-color: var(--dimas-color-main);
}

/* related post */
.dimas-grid-wrap {
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.dimas-grid-wrap .dimas-post {
  height: 16.25rem;
  position: relative;
  padding: 2rem 1.5rem;
  border: 1px solid var(--dimas-color-border);
}
.dimas-grid-wrap .dimas-post:hover .dimas-post__thumbnail-wrap {
  opacity: 1;
}
.dimas-grid-wrap .dimas-post__description, .dimas-grid-wrap .dimas-post__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dimas-grid-wrap .dimas-post__title {
  -webkit-line-clamp: 2;
  height: 4rem;
}
.dimas-grid-wrap .dimas-post__description {
  -webkit-line-clamp: 3;
  max-height: 4.875rem;
}
.dimas-grid-wrap .dimas-post__thumbnail-wrap {
  width: 100%;
  height: 100%;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
}
.dimas-grid-wrap .dimas-post__thumbnail-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dimas-grid-wrap .dimas-post__thumbnail-arrow-wrap {
  border: 1px solid var(--dimas-color-white);
  border-radius: 50%;
  position: absolute;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-grid-wrap .dimas-post__thumbnail-arrow-wrap:hover {
  border: 1px solid var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__thumbnail-arrow-wrap:hover svg {
  color: var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__content-wrap {
  z-index: 1;
}
.dimas-grid-wrap .dimas-post__link {
  color: var(--dimas-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.dimas-btn {
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  padding: 0.9375rem 1.5rem;
}
.dimas-btn svg {
  margin-left: 1.5rem;
  margin-bottom: 2px;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
}
.dimas-btn:hover {
  background-color: var(--dimas-color-white);
}
.dimas-btn:hover svg {
  color: var(--dimas-color-main);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/* view comments */
.view-comment .comment-list {
  list-style: none;
  padding-left: 0;
}
.view-comment .comment-list .comment-main .comment-body {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.view-comment .comment-list .comment-main .comment-body .form-comment {
  padding-left: 2rem;
}
.view-comment .comment-list .comment-main .comment-body .author-avtar {
  width: 5rem;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-right: 2rem;
}
.view-comment .comment-list .comment-main .comment-body .author-avtar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-comment .comment-list .comment-main .comment-body .comment-reply,
.view-comment .comment-list .comment-main .comment-body .children {
  width: 100%;
}
.view-comment .comment-list .comment-main .comment-body .comment-content {
  color: var(--dimas-color-subtitle);
  width: calc(100% - 7rem);
}
.view-comment .comment-list .comment-main .comment-body .comment-content .comment-info {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.view-comment .comment-list .comment-main .comment-body .comment-content .comment-info .author-name {
  text-transform: uppercase;
  color: var(--dimas-color-white);
}
.view-comment .comment-list .comment-main .comment-body .comment-content .comment-info .comment-date {
  font-weight: 400;
}
.view-comment .comment-list .comment-main .comment-body .comment-content .comment-info h4:last-child:before {
  content: "•";
  color: var(--dimas-color-border);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  height: 1.125rem;
}
.view-comment .comment-list .comment-btn,
.view-comment .comment-list #cancel-comment-reply-link,
.view-comment .comment-list .comment-reply-login,
.view-comment .comment-list .comment-reply-link {
  color: var(--dimas-color-main);
  margin-top: 1rem;
  width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.view-comment .comment-list .comment-btn:not(#cancel-comment-reply-link),
.view-comment .comment-list #cancel-comment-reply-link:not(#cancel-comment-reply-link),
.view-comment .comment-list .comment-reply-login:not(#cancel-comment-reply-link),
.view-comment .comment-list .comment-reply-link:not(#cancel-comment-reply-link) {
  margin-left: 7rem;
}
.view-comment .comment-list .comment-btn:hover,
.view-comment .comment-list #cancel-comment-reply-link:hover,
.view-comment .comment-list .comment-reply-login:hover,
.view-comment .comment-list .comment-reply-link:hover {
  color: var(--dimas-color-thk-text);
}
.view-comment .comment-list #cancel-comment-reply-link {
  margin-left: 1rem;
}
.view-comment .comment-list__reply-list,
.view-comment .comment-list .children {
  list-style: none;
  padding-left: 7rem;
}
.view-comment .comment-list__reply-list .comment-main .comment-body .author-avtar,
.view-comment .comment-list .children .comment-main .comment-body .author-avtar {
  width: 3.5rem;
  height: 3.5rem;
}

/* contact form */
.dimas-comment-form input {
  margin-bottom: 2rem;
}
.dimas-comment-form textarea {
  margin-bottom: 4rem;
}
.dimas-comment-form input,
.dimas-comment-form textarea {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--dimas-color-transparent);
  color: var(--dimas-color-white);
  line-height: 1.625rem;
  border: none;
  border-bottom: 1px solid var(--dimas-color-white);
  outline: none;
  padding-bottom: 1.0625rem;
}
.dimas-comment-form input::-webkit-input-placeholder, .dimas-comment-form textarea::-webkit-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input::-moz-placeholder, .dimas-comment-form textarea::-moz-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input:-ms-input-placeholder, .dimas-comment-form textarea:-ms-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input::-ms-input-placeholder, .dimas-comment-form textarea::-ms-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input::placeholder,
.dimas-comment-form textarea::placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form .dimas-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-comment-form .dimas-form-row.two-col .dimas-form-group {
  width: calc(50% - 1rem);
}
.dimas-comment-form .dimas-form-row .dimas-form-group {
  width: 100%;
}
.dimas-comment-form button {
  border: none;
  outline: none;
}
.dimas-comment-form button:hover {
  background-color: var(--dimas-color-white);
  color: var(--dimas-color-main);
}

.form-comment {
  padding-bottom: 2rem;
}

/** Responsive Single Blog Page **/
@media (max-width: 1199px) {
  /* grid blog */
  .dimas-grid-wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .dimas-section__item--blog:last-child {
    display: none;
  }
}
@media (max-width: 991px) {
  .form-comment {
    padding-bottom: 7.125rem;
  }

  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
    width: 3rem;
    height: 3rem;
  }
  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap svg {
    width: 1.1875rem;
    height: 1.1875rem;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: unset !important;
  }

  .dimas-post-content__wrap > p,
.dimas-post-content__wrap h1,
.dimas-post-content__wrap h2,
.dimas-post-content__wrap h3,
.dimas-post-content__wrap h4,
.dimas-post-content__wrap h5,
.dimas-post-content__wrap h6,
.dimas-post-content__wrap blockquote {
    width: 100%;
  }

  .dimas-grid-wrap {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
  }
  .dimas-grid-wrap .dimas-post {
    height: 17.625rem;
  }
  .dimas-grid-wrap .dimas-post__description {
    -webkit-line-clamp: 4;
    max-height: 6.5rem;
  }

  .dimas-post-gallery__link:nth-child(1) {
    padding-right: 6px;
  }
  .dimas-post-gallery__link:nth-child(2) {
    padding-left: 6px;
    padding-bottom: 6px;
  }
  .dimas-post-gallery__link:nth-child(3) {
    padding-left: 6px;
    padding-top: 6px;
  }

  .dimas-post__tag > h3 {
    width: 100%;
  }
  .dimas-post__tag > h3,
.dimas-post__tag > a {
    margin-bottom: 1rem;
  }

  .dimas-section__item--blog:last-child {
    display: block;
  }

  .view-comment .comment-list .comment-main .comment-body .author-avtar {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .view-comment .comment-list .comment-main .comment-body .comment-content {
    width: calc(100% - 4rem);
  }
  .view-comment .comment-list__reply-list,
.view-comment .comment-list .children {
    padding-left: 4rem;
  }
  .view-comment .comment-list__reply-list .comment-main .comment-body .author-avtar,
.view-comment .comment-list .children .comment-main .comment-body .author-avtar {
    width: 2rem;
    height: 2rem;
  }
  .view-comment .comment-list .comment-btn:not(#cancel-comment-reply-link),
.view-comment .comment-list #cancel-comment-reply-link:not(#cancel-comment-reply-link),
.view-comment .comment-list .comment-reply-login:not(#cancel-comment-reply-link),
.view-comment .comment-list .comment-reply-link:not(#cancel-comment-reply-link) {
    margin-left: 4rem;
  }
}
@media (max-width: 575px) {
  /* form contact */
  .dimas-comment-form input,
.dimas-comment-form textarea {
    margin-bottom: 2.5rem;
  }
  .dimas-comment-form .dimas-form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dimas-comment-form .dimas-form-row.two-col .dimas-form-group {
    width: 100%;
  }
  .dimas-comment-form button {
    width: 100%;
  }
}