/*!
 * Home css Dimas
 * Copyright GCO Software
 */
.dimas-fullpage-slider {
  height: 100vh;
}
.dimas-fullpage-slider .dimas-section {
  background-color: var(--dimas-color-accent);
  background-size: auto 100vh;
  background-position: center;
}
.dimas-fullpage-slider .dimas-section__vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.dimas-fullpage-slider .dimas-section__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  padding-bottom: 7.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.dimas-fullpage-slider .dimas-section__content--home {
  padding-top: 36.7021276596vh;
}
.dimas-fullpage-slider .dimas-section__content--about {
  padding-top: 34.8936170213vh;
}
.dimas-fullpage-slider .dimas-section__content--projects {
  padding-top: 25.7446808511vh;
}
.dimas-fullpage-slider .dimas-section__content--services {
  padding-top: 21.0638297872vh;
}
.dimas-fullpage-slider .dimas-section__content--testimonials {
  padding-top: 25.9574468085vh;
}
.dimas-fullpage-slider .dimas-section__content--blog {
  padding-top: 20.6382978723vh;
}
.dimas-fullpage-slider .dimas-section__content--contact {
  padding-top: 30.1063829787vh;
}
.dimas-fullpage-slider .dimas-section__content--contact .dimas-navbar-socials {
  position: relative;
  right: auto;
  left: 0;
}
.dimas-fullpage-slider .dimas-section__content--contact .dimas-navbar-socials .dimas-social-icon svg {
  width: 2rem;
  height: 2rem;
}

.dimas-fullpage-slider-nav {
  position: fixed;
  z-index: 25;
  top: 50%;
  right: 3.0625rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
  color: var(--dimas-color-white);
}
.dimas-fullpage-slider-nav li {
  line-height: 0;
}
.dimas-fullpage-slider-nav li:not(:first-child):not(:last-child):not(:nth-child(2)) {
  margin-top: 1.25rem;
}
.dimas-fullpage-slider-nav li:nth-child(2) {
  margin-top: 2.75rem;
}
.dimas-fullpage-slider-nav li:last-child {
  margin-top: 2.75rem;
}
.dimas-fullpage-slider-nav a:not(.prev):not(.next) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid var(--dimas-color-transparent);
  position: relative;
}
.dimas-fullpage-slider-nav a:not(.prev):not(.next)::after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  background-color: var(--dimas-color-white);
  border-radius: 50%;
}
.dimas-fullpage-slider-nav a:not(.prev):not(.next).active, .dimas-fullpage-slider-nav a:not(.prev):not(.next):hover {
  border-color: var(--dimas-color-main);
}
.dimas-fullpage-slider-nav a:not(.prev):not(.next).active::after, .dimas-fullpage-slider-nav a:not(.prev):not(.next):hover::after {
  background-color: var(--dimas-color-main);
}
.dimas-fullpage-slider-nav a.next, .dimas-fullpage-slider-nav a.prev {
  font-size: 0;
}

/* section home */
.dimas-experience {
  width: 12.5rem;
  height: 12.5rem;
  top: 1.5625rem;
  right: 7.6875rem;
  position: absolute;
}
.dimas-experience__img--circle {
  -webkit-animation: dimas_spin 10s var(--dimas-transition-linear) forwards infinite;
          animation: dimas_spin 10s var(--dimas-transition-linear) forwards infinite;
}

/* section about */
.dimas-gamepad {
  position: absolute;
  right: -2.1875rem;
  bottom: 2.8125rem;
}

.dimas-about__item {
  position: relative;
}
.dimas-about__item:not(:first-child) {
  margin-top: 4rem;
}

.dimas-progress-bar {
  margin-left: 3.25rem;
}
.dimas-progress-bar__title {
  margin: 0 0 0.6875rem;
}
.dimas-progress-bar__title > span {
  float: right;
}
.dimas-progress-bar__bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1.3125rem;
  border: 1px solid var(--dimas-color-border);
  background: var(--dimas-color-transparent);
}
.dimas-progress-bar__bar span {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 8px;
  background-color: var(--dimas-color-main);
}

.dimas-about__experience {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
}

/* section projects */
.dimas-projects {
  -webkit-transition: opacity var(--dimas-transition-duration-2) var(--dimas-transition-easing);
  transition: opacity var(--dimas-transition-duration-2) var(--dimas-transition-easing);
  padding-bottom: 4.375rem;
  opacity: 0.4;
}
.dimas-projects:hover {
  opacity: 1;
}
.dimas-projects__category {
  margin-bottom: 1rem;
}
.dimas-projects__category > * {
  display: inline;
}
.dimas-projects__category--number {
  font-family: "Outfit";
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-right: 2.625rem;
}

/* section services*/
.dimas-tab__header--icon-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5rem;
  height: 7.5rem;
}
.dimas-tab__header--icon-wrap svg {
  width: 5.625rem;
  height: 5.625rem;
  color: var(--dimas-color-white);
}
.dimas-tab__header .dimas-title {
  padding-left: 10rem;
}
.dimas-tab__header .nav-link {
  padding: 0;
}

.dimas-services__img {
  width: 100%;
}

/* testimonials */
.dimas-testimonial-slider .swiper-pagination {
  margin-top: 0.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-testimonial-slider .swiper-pagination img {
  -webkit-transition: all var(--dimas-transition-duration) linear;
  transition: all var(--dimas-transition-duration) linear;
}
.dimas-testimonial-slider .swiper-pagination .swiper-pagination-bullet {
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.25rem;
  background-color: var(--dimas-color-transparent);
  margin: 0 0.75rem;
  width: 4.5rem;
  height: 6rem;
  padding: 4px;
}
.dimas-testimonial-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 1;
  border: none;
}
.dimas-testimonial-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover img {
  outline: 2px solid var(--dimas-color-main);
}
.dimas-testimonial-slider .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) img {
  width: 3rem;
  height: 4rem;
  border-radius: 2.25rem;
  outline: 2px solid var(--dimas-color-transparent);
}
.dimas-testimonial-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--dimas-color-main);
}
.dimas-testimonial-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active img {
  width: 100%;
  height: 100%;
}

/* blog */
.dimas-grid-wrap {
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.dimas-grid-wrap .dimas-post {
  height: 16.25rem;
  position: relative;
  padding: 2rem 1.5rem;
  border: 1px solid var(--dimas-color-border);
}
.dimas-grid-wrap .dimas-post:hover .dimas-post__thumbnail--wrap {
  opacity: 1;
}
.dimas-grid-wrap .dimas-post__description, .dimas-grid-wrap .dimas-post__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dimas-grid-wrap .dimas-post__title {
  -webkit-line-clamp: 2;
  height: 4rem;
}
.dimas-grid-wrap .dimas-post__description {
  -webkit-line-clamp: 3;
  max-height: 4.875rem;
}
.dimas-grid-wrap .dimas-post__thumbnail--wrap {
  width: 100%;
  height: 100%;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
}
.dimas-grid-wrap .dimas-post__thumbnail--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
  border: 1px solid var(--dimas-color-white);
  border-radius: 50%;
  position: absolute;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap:hover {
  border: 1px solid var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap:hover svg {
  color: var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__content--wrap {
  z-index: 1;
}
.dimas-grid-wrap .dimas-post__link {
  color: var(--dimas-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.dimas-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  padding: 0.9375rem 2.9375rem;
}
.dimas-btn svg {
  margin-left: 1.5rem;
  margin-bottom: 2px;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
}
.dimas-btn:hover {
  background-color: var(--dimas-color-white);
}
.dimas-btn:hover svg {
  color: var(--dimas-color-main);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/* section contact */
.dimas-contact-info {
  list-style: none;
  padding-left: 0;
}
.dimas-contact-info > li {
  margin-bottom: 2rem;
}
.dimas-contact-info__item {
  color: var(--dimas-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-contact-info__item:hover {
  color: var(--dimas-color-main);
}
.dimas-contact-info__item:hover h3 {
  color: var(--dimas-color-main);
}
.dimas-contact-info__item--text {
  margin-left: 1.5rem;
  font-weight: 400;
}
.dimas-contact-info__item svg {
  width: 2rem;
  height: 2rem;
}

.dimas-contact-form input {
  margin-bottom: 2rem;
}
.dimas-contact-form input,
.dimas-contact-form textarea {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--dimas-color-transparent);
  color: var(--dimas-color-white);
  line-height: 1.625rem;
  border: none;
  border-bottom: 1px solid var(--dimas-color-white);
  outline: none;
  padding-bottom: 1.0625rem;
}
.dimas-contact-form input::-webkit-input-placeholder, .dimas-contact-form textarea::-webkit-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-contact-form input::-moz-placeholder, .dimas-contact-form textarea::-moz-placeholder {
  color: var(--dimas-color-white);
}
.dimas-contact-form input:-ms-input-placeholder, .dimas-contact-form textarea:-ms-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-contact-form input::-ms-input-placeholder, .dimas-contact-form textarea::-ms-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-contact-form input::placeholder,
.dimas-contact-form textarea::placeholder {
  color: var(--dimas-color-white);
}
.dimas-contact-form .dimas-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-contact-form .dimas-form-row.two-col .dimas-form-group {
  width: calc(50% - 1rem);
}
.dimas-contact-form .dimas-form-row .dimas-form-group {
  width: 100%;
}
.dimas-contact-form button {
  border: none;
  outline: none;
}
.dimas-contact-form button:hover {
  background-color: var(--dimas-color-white);
  color: var(--dimas-color-main);
}

/** Responsive Home Page **/
@media (max-width: 1199px) {
  /* grid blog */
  .dimas-grid-wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991px) {
  /* section padding */
  .dimas-fullpage-slider .dimas-section__content {
    padding-bottom: 7.125rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dimas-fullpage-slider .dimas-section__content--home, .dimas-fullpage-slider .dimas-section__content--about, .dimas-fullpage-slider .dimas-section__content--projects, .dimas-fullpage-slider .dimas-section__content--services, .dimas-fullpage-slider .dimas-section__content--testimonials, .dimas-fullpage-slider .dimas-section__content--blog, .dimas-fullpage-slider .dimas-section__content--contact {
    padding-top: 7rem;
  }

  .dimas-experience {
    right: 0px;
  }

  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
    width: 3rem;
    height: 3rem;
  }
  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap svg {
    width: 1.1875rem;
    height: 1.1875rem;
  }
}
@media (max-width: 767px) {
  .dimas-gamepad {
    right: auto;
    left: 0;
    bottom: 1.5rem;
  }

  /* section projects */
  .dimas-projects {
    opacity: 1;
    padding-bottom: 2rem;
  }
  .dimas-projects:hover .dimas-projects__category {
    opacity: 1;
  }
  .dimas-projects__category {
    opacity: 0.6;
  }
  .dimas-projects__category > * {
    display: block;
  }
  .dimas-projects__category--number {
    margin-bottom: 1rem;
    margin-right: 0px;
  }

  /* section services */
  .dimas-tab__header--icon-wrap {
    position: relative;
  }
  .dimas-tab__header .dimas-title {
    padding-left: 0px;
  }

  .dimas-grid-wrap {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
  }
  .dimas-grid-wrap .dimas-post {
    height: 17.625rem;
  }
  .dimas-grid-wrap .dimas-post__description {
    -webkit-line-clamp: 4;
    max-height: 6.5rem;
  }
}
@media (max-width: 575px) {
  /* form contact */
  .dimas-section__item--showall a {
    width: auto;
    text-align: center;
  }

  .dimas-contact-form input,
.dimas-contact-form textarea {
    margin-bottom: 2.5rem;
  }
  .dimas-contact-form .dimas-form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dimas-contact-form .dimas-form-row.two-col .dimas-form-group {
    width: 100%;
  }
  .dimas-contact-form button {
    width: 100%;
  }
}
/** End Responsive Home Page **/