@charset "UTF-8";
/*!
 * Project Single css Dimas
 * Copyright GCO Software
 */
.dimas-project .swiper-wrapper {
  height: 100vh;
}
.dimas-project__vertical-align {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dimas-project #left-slider .swiper .slider-img,
.dimas-project #left-slider .swiper .slider-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets {
  position: absolute;
  z-index: 25;
  top: calc(97vh - 7.5rem);
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: var(--dimas-color-white);
}
.dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  -webkit-transition: border-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: border-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid var(--dimas-color-transparent);
  position: relative;
  opacity: 1;
  margin: 0 0.625rem;
  background-color: var(--dimas-color-transparent);
}
.dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::after {
  -webkit-transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--dimas-color-white);
}
.dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border-color: var(--dimas-color-main);
}
.dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover::after, .dimas-project #left-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active::after {
  background-color: var(--dimas-color-main);
}
.dimas-project #right-slider span.swiper-notification {
  display: none;
}
.dimas-project #right-slider .scroll-wrap {
  height: 100%;
  overflow-y: scroll;
}
.dimas-project #right-slider .swiper:before {
  content: "";
  display: block;
  z-index: 8;
  width: 99%;
  height: 5.75rem;
  background-color: var(--dimas-color-accent);
  position: absolute;
  top: 0;
  left: 0;
}
.dimas-project #right-slider .swiper:after {
  content: "";
  display: block;
  z-index: 8;
  width: 99%;
  height: 5.4375rem;
  background-color: var(--dimas-color-accent);
  position: absolute;
  bottom: 0;
  left: 0;
}
.dimas-project #right-slider .swiper .swiper-slide {
  min-height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10.25rem 5.8125rem 8.25rem;
  position: relative;
}
.dimas-project #right-slider .dimas-section__list-item {
  position: relative;
  list-style: none;
  padding-left: 0;
}
.dimas-project #right-slider .dimas-section__item:not(:last-child) .dimas-section__item--text {
  border-bottom: 1px solid var(--dimas-color-border);
}
.dimas-project #right-slider .dimas-section__img {
  max-width: 7.5rem;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  position: absolute;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: unset;
}
.swiper-button-next svg,
.swiper-container-rtl .swiper-button-prev svg,
.swiper-button-prev svg,
.swiper-container-rtl .swiper-button-next svg {
  color: var(--dimas-color-white);
  font-size: 2rem;
}
.swiper-button-next svg:hover,
.swiper-container-rtl .swiper-button-prev svg:hover,
.swiper-button-prev svg:hover,
.swiper-container-rtl .swiper-button-next svg:hover {
  color: var(--dimas-color-main);
}

.dimas-btn.play-video {
  color: var(--dimas-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--dimas-color-white);
  border-radius: 50%;
  width: 5.125rem;
  height: 5.125rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dimas-btn.play-video svg {
  margin-left: 0.5rem;
}
.dimas-btn.play-video:hover {
  border-color: var(--dimas-color-main);
}
.dimas-btn.play-video:hover svg {
  color: var(--dimas-color-main);
}

.dimas-project-pointer {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--dimas-color-white);
}
.dimas-project-pointer:nth-child(1):after {
  -webkit-transition-delay: 220ms;
          transition-delay: 220ms;
}
.dimas-project-pointer:nth-child(2):after {
  -webkit-transition-delay: 240ms;
          transition-delay: 240ms;
}
.dimas-project-pointer:nth-child(3):after {
  -webkit-transition-delay: 260ms;
          transition-delay: 260ms;
}
.dimas-project-pointer:nth-child(4):after {
  -webkit-transition-delay: 280ms;
          transition-delay: 280ms;
}
.dimas-project-pointer:nth-child(5):after {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.dimas-project-pointer:nth-child(6):after {
  -webkit-transition-delay: 320ms;
          transition-delay: 320ms;
}
.dimas-project-pointer:nth-child(7):after {
  -webkit-transition-delay: 340ms;
          transition-delay: 340ms;
}
.dimas-project-pointer::after {
  -webkit-animation: pulse 1.5s linear infinite;
          animation: pulse 1.5s linear infinite;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}
.dimas-project-pointer__description {
  background-color: var(--dimas-color-black);
  padding: 1.5rem;
  -webkit-transition: all var(--dimas-transition-duration-3) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration-3) var(--dimas-transition-easing);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 2rem;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 20rem;
  width: 20vw;
}
.dimas-project-pointer__description:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-right: 0.75rem solid var(--dimas-color-black);
  position: absolute;
  left: -0.75rem;
  top: calc(50% - 7px);
}
.dimas-project-pointer.active, .dimas-project-pointer:hover {
  background-color: var(--dimas-color-main);
}
.dimas-project-pointer.active .dimas-project-pointer__description, .dimas-project-pointer:hover .dimas-project-pointer__description {
  visibility: visible;
  opacity: 1;
}
.dimas-project-pointer.active::after, .dimas-project-pointer:hover::after {
  background: radial-gradient(50% 50% at 50% 50%, rgba(242, 25, 103, 0.0745098039) 0%, rgba(242, 25, 103, 0.2235294118) 100%);
}

.thanks__text {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.3125rem;
  margin-bottom: 0;
  color: var(--dimas-color-thk-text);
}

.projects-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects-pagination__next, .projects-pagination__prev {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: var(--dimas-color-white);
}
.projects-pagination__next {
  margin-left: 0.9375rem;
  text-align: right;
}
.projects-pagination__next:before {
  font-weight: 400;
  content: "⇀";
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 2.6875rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.projects-pagination__prev {
  margin-right: 0.9375rem;
}
.projects-pagination__prev:after {
  font-weight: 400;
  content: "↽";
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  font-size: 2.6875rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

/*  Responsive  */
@media (max-width: 1699px) and (min-width: 1270px) {
  .projects-pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-pagination__prev {
    margin-bottom: 2.5rem;
  }
  .projects-pagination__next, .projects-pagination__prev {
    width: 100%;
  }
}
@media (max-width: 1399px) {
  .dimas-project #right-slider .swiper .swiper-slide {
    padding: 10.25rem 4rem 8.25rem;
  }
}
@media (max-width: 1399px) and (min-width: 1270px) {
  .quote {
    font-size: 1.5rem;
  }
}
@media (max-width: 1269px) {
  .swiper-button-next svg,
.swiper-button-prev svg {
    visibility: hidden;
  }

  .dimas-project .pp-wrap {
    padding: 10.25rem 5.8125rem 8.25rem;
  }
  .dimas-project .swiper-slide {
    background-color: var(--dimas-color-accent);
  }
  .dimas-project .swiper-slide.dimas-section {
    position: absolute;
  }
  .dimas-project #right-slider {
    width: 100vw;
    height: 100vh;
  }
  .dimas-project #right-slider .swiper {
    height: auto;
  }
  .dimas-project #right-slider .swiper .swiper-slide {
    height: auto;
    overflow-y: auto;
  }
  .dimas-project #right-slider .swiper::before, .dimas-project #right-slider .swiper::after {
    content: unset;
  }
  .dimas-project-pointer__description {
    width: 30vw;
  }
}
@media (max-width: 991px) {
  .dimas-project-pointer {
    display: none;
  }
}
@media (max-width: 767px) {
  .dimas-project-pointer {
    display: none;
  }

  .dimas-project .pp-wrap {
    padding: 4rem 1rem 7.125rem;
  }
}
@media (max-width: 575px) {
  .thanks__text {
    font-size: 2rem;
    line-height: 2.6875rem;
  }
  .thanks__icon.heart-img {
    width: 1.5rem;
  }

  .projects-pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-pagination__prev {
    margin-bottom: 2.5rem;
  }
  .projects-pagination__next, .projects-pagination__prev {
    width: 100%;
  }
}