@font-face {
    font-family: "dimas-icon";
    src: url('../fonts/dimas-icon.eot');
    src: url('../fonts/dimas-icon.eot?#iefix') format('eot'),
    url('../fonts/dimas-icon.woff2') format('woff2'),
    url('../fonts/dimas-icon.woff') format('woff'),
    url('../fonts/dimas-icon.ttf') format('truetype'),
    url('../fonts/dimas-icon.svg#dimas-icon') format('svg');
}

@mixin dimas-icon-styles {
    font-family: "dimas-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%dimas-icon {
    @include dimas-icon-styles;
}

@function dimas-icon-char($filename) {
    $char: "";

    @if $filename == arrow-left {
    $char: "\E001";
}
    @if $filename == arrow-right {
    $char: "\E002";
}
    @if $filename == bag {
    $char: "\E003";
}
    @if $filename == checked {
    $char: "\E004";
}
    @if $filename == cog {
    $char: "\E005";
}
    @if $filename == compare {
    $char: "\E006";
}
    @if $filename == heart {
    $char: "\E007";
}
    @if $filename == minus {
    $char: "\E008";
}
    @if $filename == plan {
    $char: "\E009";
}
    @if $filename == plus {
    $char: "\E00A";
}
    @if $filename == search {
    $char: "\E00B";
}
    @if $filename == start {
    $char: "\E00C";
}
    @if $filename == times {
    $char: "\E00D";
}
    @if $filename == user {
    $char: "\E00E";
}
    @if $filename == zoom-in {
    $char: "\E00F";
}

@return $char;
}

@mixin dimas-icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
    @if $extend {
        @extend %dimas-icon;
    } @else {
        @include dimas-icon-styles;
    }
    content: dimas-icon-char($filename);
}
}

.dimas-icon-arrow-left {
    @include dimas-icon(arrow-left);
}
.dimas-icon-arrow-right {
    @include dimas-icon(arrow-right);
}
.dimas-icon-bag {
    @include dimas-icon(bag);
}
.dimas-icon-checked {
    @include dimas-icon(checked);
}
.dimas-icon-cog {
    @include dimas-icon(cog);
}
.dimas-icon-compare {
    @include dimas-icon(compare);
}
.dimas-icon-heart {
    @include dimas-icon(heart);
}
.dimas-icon-minus {
    @include dimas-icon(minus);
}
.dimas-icon-plan {
    @include dimas-icon(plan);
}
.dimas-icon-plus {
    @include dimas-icon(plus);
}
.dimas-icon-search {
    @include dimas-icon(search);
}
.dimas-icon-start {
    @include dimas-icon(start);
}
.dimas-icon-times {
    @include dimas-icon(times);
}
.dimas-icon-user {
    @include dimas-icon(user);
}
.dimas-icon-zoom-in {
    @include dimas-icon(zoom-in);
}
